.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px; 
    box-sizing: border-box;

}

.card {
    width: calc(100%/8);
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .card {
        flex: 1 0 calc(100% / 8 - 20px); 
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex: 1 0 calc(100% / 4 - 20px); 
    }
}
