
  .line {
    text-decoration: line-through;}

h1 {
  color: brown;
}

main {
  background-color:darkgoldenrod;
  display: flex;
  justify-content: center;
}

div div{
  display: flex;
}

li {
  color: rgb(0, 26, 255);
}

ul button {
  background-color: crimson;
  color:chocolate  ;
  border-radius: 5px;
}