<div class="d-flex align-items-center flex-column">
  <app-titolo class="">Hola</app-titolo>
  <app-sottotitolo class="text-warning">sottotitolo</app-sottotitolo>
  <app-sottotitolo class="text-danger">ciao comp1</app-sottotitolo>
  <app-paragrafo class="text-danger">comp1 work</app-paragrafo>
  <app-sottotitolo class="text-warning">ciao comp2</app-sottotitolo>
  <app-paragrafo class="text-danger">comp2 work!</app-paragrafo>
  <app-paragrafo class="text-primary">comp3 works!</app-paragrafo>
</div>
